* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-title {
  margin: 1rem;
}

.container {
  width: 38rem;
  background-color: rgb(191, 191, 191);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 0px rgba(0,0,0,.4);
}

.add-form-container {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.add-form {
  box-shadow: 5px 5px 0px rgba(0,0,0,.3);
}

.add-form input[type="text"] {
  padding: .5rem;
  outline: none;
  border: 0;
  font-size: 1.25rem;
}

.add-form button {
  cursor: pointer;
  padding: .5rem;
  outline: none;
  border: none;
  font-size: 1.25rem;
  transition: all .2s;
}

.add-form button:hover {
  background-color: black;
  color: white;
}

.list { 
  width: 90%;
  background-color: whitesmoke;
  box-shadow: 0px 0px 10px rgba(0,0,0,.2);
  border: solid 2px rgba(0,0,0,.4);
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  font-size: 1rem;
  font-size: 1.25rem;
  height: 5rem;
  box-sizing: border-box;
  transition: all .2s;
  cursor: pointer;
}

.list-item:hover {
  background-color: rgb(157, 193, 255);
}

.list-item-text {
  cursor: pointer;
  user-select: none;
}

.edit-button, .delete-button {
  padding: .5rem .7rem;
  cursor: pointer;
  border: none;
  margin: 0rem .25rem;
  transition: all .2s;
  border-radius: 14px;
  text-transform: uppercase;
  outline: none;
  border: solid rgb(132, 132, 132) 1px;
  box-sizing:border-box;
  user-select: none;
}

.edit-button:hover, .delete-button:hover {
  background-color: black;
  border: solid 1px black;
  color: white;
}

.edit-input {
  padding: .5rem;
  font-size: 1.25rem;
  outline: none;
  border: 0;
  margin-left: -.57rem;
  border: solid rgb(132, 132, 132) 1px;
  box-sizing: border-box;
}